[core]
        # Recommended by the Linux kernel development guidelines
        abbrev = 12
[user]
        name = Ann T Ropea
        email = bedhanger@gmx.de
        pager = cat
[push]
        default = simple
[color]
        ui = auto
[diff]
        renames = copies
[log]
        date = iso
[rerere]
        enabled = true
[alias]
        vista = "!git fetch --all && git branch --verbose \
         --verbose"
        st = status --short
        unstage = reset HEAD --
        unedit = checkout --
        ci = commit --signoff
        co = checkout
        co3 = checkout --conflict=diff3 --
        b = branch
        l1 = log --oneline
        l = log --graph --all --decorate=short --oneline \
           --format=\"%C(blue)%h%C(reset) %C(green)%ad%C(reset) %C(yellow)%an%C(reset) %C(cyan)%ar%C(reset) %C(red)%s%C(reset) %C(bold magenta)%d%C(reset)\"
        wi = diff --check
        rr = clean -d -x --force --quiet
        bav = branch -a --verbose --verbose
        d = describe
        # Not part of the canon.  Needs script.
        tprs = thread-push-remotes
        sb = show-branch
        pus = push
        # Not part of the canon.  Needs script.
        lr = left-right
        bd = branch --delete
        ff = ls-files
        patches = format-patch
        # Remote Procedure Call?  No, this relates to
        # referencing (a) previous commit(s).  The Git patch
        # submission guidelines suggest leaving off the %n (aka
        # \n), though.  But referencing more than one makes the
        # result look ugly.
        rpc = show --no-patch --date=short \
		--pretty='format:%C(blue)%h%C(reset) (%C(red)\"%s\"%C(reset), %C(green)%ad%C(reset))%n'
        dcw = diff --color-words
        scw = show --color-words
        # What we usually want invoked when we spell it out.
        vi = ci --amend --allow-empty
        # Useful to produce diff slices even if no local changes
        # are present.
        tree0 = hash-object -t tree /dev/null
        # The short form of the option and its argument is -uno,
        # hence the name of the alias.
        st1 = st --untracked-files=no
        ds = diff --staged
	# Subtracktion
	l0 = l1 -1
	# Sorta like wc, but for objects in the repository
	oc = count-objects --verbose --human-readable
[merge]
        conflictStyle = diff3
        log = true
        ff = false
[pull]
        ff = true
[hub]
        protocol = https
[format]
        signoff = true
